body {
    background: whitesmoke;
    color: darkslategray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin: 10px;
}

.legend-container {
    display: flex;
    align-items: center;
}

.legend-item {
    margin: 0 5px;
}

.legend-icon {
    display: inline-block;
    margin: 0 2px;
}

.maze-board {
    display: grid;
    grid-gap: 0;
    /*grid-template-columns: repeat(41,1fr);*/
    margin: 10px;
}

.maze-cell {
    height: 10px;
    width: 10px;
}

.aisle {
    background: whitesmoke;
}

.wall {
    background: darkslategray;
}

.solution {
    background: whitesmoke;
    /*background: lightgreen;*/
}

.player {
    background: goldenrod;
    border-radius: 50%;
}

.start {
    background: forestgreen;
}

.end {
    background: chocolate;
}

.key {
    background: cadetblue;
}

.portal {
    background: mediumslateblue;
}

.portal-solution {
    background: mediumslateblue;
    /*background: blueviolet;*/
}

.message {
    display: none;
    margin: 10px;
    text-align: center;
}

.success-message {
    padding: 2px 10px;
    border-radius: 2px;
    font-size: 20px;
    background: chocolate;
    color: whitesmoke;
}
