<!DOCTYPE html>
<html lang="en">
<head>
    <title>MAZE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Start Game!</h1>
    {% if maze %}
        <div class="maze-board">
        {% for row in maze.board %}
            <div class="maze-row">
            {% for cell in row %}
                {% if cell == marks['aisle'] %}
                    <div class="maze-cell aisle"></div>
                {% elif cell == marks['solution'] %}
                    <div class="maze-cell solution"></div>
                {% elif cell == marks['wall'] %}
                    <div class="maze-cell wall"></div>
                {% elif cell == marks['start'] %}
                    <div class="maze-cell start"></div>
                {% elif cell == marks['end'] %}
                    <div class="maze-cell end"></div>
                {% elif cell == marks['portal'] %}
                    <div class="maze-cell portal"></div>
                {% elif cell == marks['portal_solution'] %}
                    <div class="maze-cell portal-solution"></div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>
</body>
</html>
