<!DOCTYPE html>
<html lang="en">
<head>
    <title>MAZE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Maze</h2>
    <div class="button-container">
        <h6 style="display: inline-block">New Game:</h6>
        <a class="waves-effect waves-light btn z-depth-0 btn-small" href="/easy">Easy</a>
        <a class="waves-effect waves-light btn z-depth-0 btn-small" href="/median">Median</a>
        <a class="waves-effect waves-light btn z-depth-0 btn-small" href="/hard">Hard</a>
    </div>
    {% if maze %}
        <div class="maze-board" style="{{ 'grid-template-columns: repeat(' + columns + ', 1fr);' }}">
        {% for row in maze.board %}
            {% for cell in row %}
                {% if cell == marks['aisle'] %}
                    <div class="maze-cell aisle"></div>
                {% elif cell == marks['solution'] %}
                    <div class="maze-cell solution"></div>
                {% elif cell == marks['key'] %}
                    <div class="maze-cell key"></div>
                {% elif cell == marks['wall'] %}
                    <div class="maze-cell wall"></div>
                {% elif cell == marks['start'] %}
                    <div class="maze-cell start"></div>
                {% elif cell == marks['end'] %}
                    <div class="maze-cell end"></div>
                {% elif cell == marks['portal'] %}
                    <div class="maze-cell portal"></div>
                {% elif cell == marks['portal_solution'] %}
                    <div class="maze-cell portal-solution"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}
    <div class="legend-container">
        <div class="legend-item">
            <div class="maze-cell player legend-icon"></div>
             Player
        </div>
        <div class="legend-item">
            <div class="maze-cell start legend-icon"></div>
             Starting
        </div>
        <div class="legend-item">
            <div class="maze-cell end legend-icon"></div>
             Destination
        </div>
        <div class="legend-item">
            <div class="maze-cell key legend-icon"></div>
             Key
        </div>
        <div class="legend-item">
            <div class="maze-cell portal legend-icon"></div>
             Portal
        </div>
    </div>
    <div class="message">
        <div class="success-message">
            Congrats! You passed the game in
            <span id="step-counter"></span>
            steps :)
        </div>
        You can either replay this game or start a new game.
    </div>
    <div class="button-container">
        <a class="waves-effect waves-light btn z-depth-0" id="restart-btn">Restart</a>
        <a class="waves-effect waves-light btn z-depth-0" id="solution-btn">Show Solution</a>
    </div>
</div>
</body>

<script>
    const columns = parseInt({{ columns }});
    const portals = {{ portals }};
    let hasKey = false;
    let steps, curtPosition, prevPositionStyle;

    const cells = document.getElementsByClassName('maze-cell');
    const message = document.getElementsByClassName('message')[0];
    const stepCounter = document.getElementById('step-counter');
    const solutionBtn = document.getElementById('solution-btn');
    const restartBtn = document.getElementById('restart-btn');

    const initializePlayer = function() {
        document.addEventListener('keydown', movePlayer);
        message.style.display = 'none';
        if (prevPositionStyle) {
            cells[curtPosition].style = prevPositionStyle;
        }
        curtPosition = {{ position }};
        steps = 0;
        setPlayer();
    };

    const setPlayer = function() {
        prevPositionStyle = {...cells[curtPosition].style};
        cells[curtPosition].style.background = 'goldenrod';
        cells[curtPosition].style.borderRadius = '50%';
        stepCounter.innerText = steps;
    };

    const movePlayer = function(e) {
        let newPosition;
        switch (e.key) {
            case 'ArrowUp':
                newPosition = curtPosition - columns;
                break;
            case 'ArrowDown':
                newPosition = curtPosition + columns;
                break;
            case 'ArrowLeft':
                newPosition = curtPosition - 1;
                break;
            case 'ArrowRight':
                newPosition = curtPosition + 1;
                break;
            default:
                return;
        }
        if (cells[newPosition].classList.contains('wall')) {
            return;
        }
        if (cells[newPosition].classList.contains('end') && !hasKey) {
            return;
        }
        if (portals[newPosition] !== undefined) {
            newPosition = portals[newPosition];
        }
        cells[curtPosition].style = prevPositionStyle;
        prevPositionStyle = {...cells[newPosition].style};
        curtPosition = newPosition;
        steps++;
        setPlayer();

        if (cells[curtPosition].classList.contains('key')) {
            hasKey = true;
        }
        if (cells[curtPosition].classList.contains('end')) {
            document.removeEventListener('keydown', movePlayer);
            message.style.display = 'block';
        }
    };

    const switchSolution = function(e) {
        const solutionAisles = document.querySelectorAll('.solution');
        const solutionPortals = document.querySelectorAll('.portal-solution');
        if (e.target.innerText === 'Show Solution'.toUpperCase()) {
            document.removeEventListener('keydown', movePlayer);
            e.target.innerText = 'Hide Solution';
            solutionAisles.forEach(aisle => {
               aisle.style.background = 'lightgreen';
            });
            solutionPortals.forEach(portal => {
                portal.style.background = 'blueviolet';
            });
        } else {
            document.addEventListener('keydown', movePlayer);
            e.target.innerText = 'Show Solution';
            const aisleColor = document.getElementsByClassName('aisle')[0].style.background;
            const portalColor = document.getElementsByClassName('portal')[0].style.background;
            solutionAisles.forEach(aisle => {
               aisle.style.background = aisleColor;
            });
            solutionPortals.forEach(portal => {
                portal.style.background = portalColor;
            });
        }
        setPlayer();
    };

    initializePlayer();

    restartBtn.addEventListener('click', initializePlayer);
    solutionBtn.addEventListener('click', switchSolution);
</script>

</html>
